<ion-view title="TodoApp">

  <ion-nav-buttons side="secondary">
    <a href="#/novo" class="button button-icon ion-plus"></a>
  </ion-nav-buttons>
  <ion-content ng-controller="listCtrl">
  
  
  
  
  
  
     
  
  
  
  
  
  
  
  
        <!-- BUSCA -->
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="BUSCAR" ng-model="filtro">
          </label>
        </div>
        
        
        
        <!-- LISTA DE ATIVIDADES MISTURADO -->
        <ion-list>
            <div class="item item-divider">
              TUDO MISTURADO
            </div>
            <!-- Remove o ng-show / faz o if na class -->
            <ion-item class="item-icon-left" ng-repeat="t in tarefas | filter:filtro" ng-click="editar(t.id)">
                <h2>{{t.texto}}</h2>
                <!-- <i class="icon {{(t.concluida ? 'ion-happy-outline' : 'ion-sad')}}"></i> -->
                <i ng-class="{'icon ion-happy-outline' : t.concluida, 'icon ion-sad' : !t.concluida}"></i>
                
                <ion-option-button class="button-balanced ion-left ion-checkmark-round" ng-click="abrir(t.id)" ng-show="t.concluida"> 
                  Abrir
                </ion-option-button>
                <ion-option-button class="button-balanced ion-left ion-checkmark-round" ng-click="concluir(t.id)" ng-hide="t.concluida"> 
                  Concluir
                </ion-option-button>
                <ion-option-button class="button-assertive icon-left ion-trash-a" ng-click="apagar(t.id)"> Apagar</ion-option-button>
            </ion-item>
        </ion-list>
        
        
        
        <!-- LISTA DE ATIVIDADES EM ABERTO -->
        <ion-list>
          <div class="item item-divider">
            A FAZER
          </div>
          <ion-item ng-repeat="t in tarefas | filter:filtro" ng-hide="t.concluida" ng-click="editar(t.id)">
            <h2>{{t.texto}}</h2>
            <ion-option-button class="button-balanced ion-left ion-checkmark-round" ng-click="concluir(t.id)"> Concluir</ion-option-button>
            <ion-option-button class="button-assertive icon-left ion-trash-a" ng-click="apagar(t.id)"> Apagar</ion-option-button>
          </ion-item>
        </ion-list>
        
        
        
        
        
        
        
        <!-- LISTA DE ATIVIDADES CONCLUÍDAS -->
        <ion-list>
            <div class="item item-divider">
              CONCLUÍDAS
            </div>
            <ion-item class="item-icon-left" ng-repeat="t in tarefas | filter:filtro" ng-show="t.concluida" ng-click="editar(t.id)">
                <h2>{{t.texto}}</h2>
                <i class="icon ion-android-done"></i>
                <ion-option-button class="button-positive ion-left ion-checkmark-round" ng-click="abrir(t.id)"> Abrir</ion-option-button>
                <ion-option-button class="button-assertive icon-left ion-trash-a" ng-click="apagar(t.id)"> Apagar</ion-option-button>
            </ion-item>
        </ion-list>
        
        
        
        
        
        
        
        
        
    </ion-content>
</ion-view>
